# dependencies
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# builds
/dist
/build

# env
.env
.env.*
!.env.docker

# misc
.DS_Store
.git
.gitignore
.eslintcache

# docker
.docker
